/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body{
  margin:0px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  background: #eee;
  width: 100%;
  padding: 100px;
  margin-bottom: 20px;

}

#left {
  float: left;
  padding: 20px;
  width: 33.3%;
  background: #666;
}

#middle {
  float: left;
  padding: 20px;
  width: 33.4%;
  background: #888;
}

#right {
  float: right;
  padding: 20px;
  width: 33.3%;
  background: #666;
}

#full {
  width: 100%;
  
}

#division {
  float: left;
  width: 100%;
  background: #6ea3da;
  padding: 20px;
}

aside {
  float: left;
  background: #fff;
  padding: 50px;
}

footer {
  width: 100%;
  background: #ccc;
  padding: 20px;
}
